.navbar {
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    font-family: 'PT Mono', monospace;
    color: #e5e5e5;
    text-decoration: none;
}

.nav-link .logo-instagram, .nav-link .mail-outline {
    width: 1.75rem;
}

.navbar-collapse {
    transition: all .5s ease-in-out;
    background-color: #9ce1e4;

}