.navbar {
    font-family: 'Montserrat', sans-serif;
}

.navbar .brand {
    color: var(--nord0);
}

.nav-link {
    font-family: 'PT Mono', monospace;
    text-decoration: none;
}

.nav-link .logo-instagram, .nav-link .mail-outline {
    width: 1.75rem;
}

.navbar-collapse {
    transition: all .5s ease-in-out;
    background-color: #add3de;

}
.navbar-collapse .nav-link {
    color: var(--nord5) !important;
}