
.dolni-pocernice .content-header {
    background-color: var(--bg-colour);
    margin-top: 25vh;

    /* -webkit-box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour);
    -moz-box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour);
    box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour); */
}
.dolni-pocernice .content-header h3 {
    font-family: 'PT Mono', monospace;
    font-size: 1.5rem;
    padding: 8px;
}
.dolni-pocernice .content-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 8px;
    padding-bottom: 10px;
}

.dolni-pocernice .content-body {
    background-color: var(--bg-colour2);
    font-family: 'PT Mono', monospace;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 15px;

    -webkit-box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour);
    -moz-box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour);
    box-shadow: 14px 14px 0px 0px var(--bg-shadow-colour);
}

.dolni-pocernice .triangleTop {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vh solid var(--bg-colour2);
	display:inline;
}
